services:
  directory-service:
    container_name: directory-service
    build:
      context: .
      dockerfile: Dockerfile
    ports: 
        - "5219:5219"
    environment:
      - ASPNETCORE_ENVIRONMENT=Docker
      - ASPNETCORE_URLS=http://+:5219
  
  postgres:
    container_name: postgres
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: directory_service_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5434:5432"
    volumes:
      - postgres-data:/var/lib/postgresql
  
  seq:
    container_name: seq
    image: datalust/seq:latest
    restart: always
    environment:
      ACCEPT_EULA: "Y"
      SEQ_FIRSTRUN_NOAUTHENTICATION: "true"
    ports:
      - "8081:80"
      - "5341:5341"
    volumes:
      - seq_data:/var/lib/seq

volumes:
  postgres-data:
  seq_data: